
  
  .table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
   
}
.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 10pt;
    -fx-background-color: transparent;
    
}
.table-row-cell:selected {
    -fx-background-color: transparent;
   
}

.jfx-radio-button {
    -jfx-unselected-color: white;
    }
