
.button {
  -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
        linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-padding: 10 10 10 10;
}

.button {
    
   /* -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );*/
}


.dialog-pane .header-panel {
    -fx-background-color: cadetblue;
    -fx-font-style: italic;
     -fx-font-weight: bold; 
}

.dialog-pane{
	-fx-background-color: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold; 
    -fx-text-fill: black;
}
  
  .table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
   
}
.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 10pt;
    -fx-background-color: transparent;
    
}
.table-row-cell:selected {
    -fx-background-color: transparent;
   
}

.jfx-radio-button {
    -jfx-unselected-color: white;
    }
